<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
<h2>Create User</h2>
<form th:action="@{/userCreate}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Create User</button>
    </div>
    <div>
        <button type="button" onclick="location.href='/login';">Back to Login</button>
    </div>
</form>
</body>
</html>

